* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background: #1e1f25;
}
ul {
  display: flex;
  /* width: 100%; */
  /* height: 80vh; */
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
}
.nav-btns {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
  min-width: 80px;
  margin: auto;
}

.nav-btns:hover {
  background-image: url("https://scottyzen.sirv.com/Images/v/button.png");
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}
.nav-btns:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

#card-container {
  float: left;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  min-width: 365px;
  padding: 6px;
  height: 400px;
}

#game-container {
  margin-left: 2%;
}

.link {
  text-decoration: none;
}

#project-form {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 5% auto 0;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.create-new-card {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* border: 2px solid blue;
  border-radius: 4px; */
  border: none;
  border-bottom: 2px solid red;
  background-color: white;
  color: black;
}

.create-new-card:focus {
  background-color: white;
  border: 3px solid #555;
}

#create-new-game-button {
  background-color: #d74f4f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin-left: 45%; */
  cursor: pointer;
  margin-top: 3%;
}
